@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Sukhumvit Set", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* About Section */
.about {
  padding: 60px 20px;
  background: #f5f6fa;
  height: 100%;
}

.about-box {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 24px;
  align-items: center;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.about-content {
  padding: 0;
  width: auto;
}

.about-content h2,
.about-content h3 {
  margin-top: 0;
}
.about-content p {
  line-height: 1.6;
  color: #333;
}

@media (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr;
  }
}

 /* Contact Section */

.contact {
  padding: 60px 20px;
  background: #ffffff;
  height: 100%;
}

.contact-box {
  max-width: 2000px;
  gap: 24px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
}

.info-item {
  background: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
}

@media (max-width: 768px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
}

.product {
  display: flex;             
  justify-content: center;  
  align-items: center;    
  min-height: 50vh;         
  text-align: center;        
  background-color: #ffffff; 
}

.product-box h2, 
.product-box p {
  text-align: ;
  margin-left: auto;
  margin-right: auto;

}


.Product-card {
  margin: 30px 100px; 
  display: block;    
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
