@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Sukhumvit Set", -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Main Section */

.main {
  padding: 60px 20px;
  text-align: center;
}

.main>h1 {
<<<<<<< HEAD
  max-width: 900px;
  /* คุมความกว้าง */
  margin: 0 auto 48px;
=======
  font-size: 32px;
  margin: 0 auto 12px;
  width: 50%;
>>>>>>> 5482ca7f71ec93bd2fd801d162cd04fcd2767959
  text-align: center;
}

<<<<<<< HEAD
=======

>>>>>>> 5482ca7f71ec93bd2fd801d162cd04fcd2767959
.main>h2 {
  font-size: 18px;
  font-weight: normal;
  max-width: 900px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

/* กล่องรวม 4 อัน */
.main-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* กล่องแต่ละอัน */
.main-item {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
}

/* โลโก้ */
.main-item .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.main-item .logo img {
  width: 64px;
  height: auto;
}

/* หัวข้อในการ์ด */
.main-item h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

/* เนื้อหา */
.main-item h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
}



@media (max-width: 1024px) {
  .main-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .main-box {
    grid-template-columns: 1fr;
  }
}


/* About Section */
.about {
  padding: 60px 20px;
  background: #f5f6fa;
  height: 100%;
}

.about-box {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: center;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease;
}

.about-image img:hover {
  transform: scale(1.03);
}

.about-content {

  padding: 0;
  width: 100%;
}

.about-content h3 {
  margin-top: 0;
}

.about-content h2 {
  margin-top: 0;
  position: relative;
  padding-left: 14px;
}

.about-content h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 60%;
  background: #2e8b57;
  /* เขียวเกษตร */
  border-radius: 2px;
}


.about-content p {
  line-height: 1.6;
  color: #333;
  font-size: 20px;
  max-width: 720px;
}

@media (max-width: 1000px) {
  .about-box {
    grid-template-columns: 1fr;
  }
}

/* Contact Section */

.contact {
  padding: 60px 20px;
  background: #ffffff;
  height: 100%;
}

.contact-box {
  max-width: 2000px;
  gap: 24px;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  /* background-color: red; */
  margin-left: 30px;
}

.info-item {
  background: #F0F8FF;
  padding: 16px;
  border-radius: 8px;
  width: 80%;
  margin-left: 8px;
  align-items: center;
}

.info-item h3 {
  display: flex;
  /* ← ตัวนี้แหละที่หาย */
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 24px;
}

.info-item p {
  margin: 4px 0;
  font-size: 20px;
}

.info-item .icon {
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
}


@media (max-width: 1000px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
}

.product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;    
  width: 90%;         
  max-width: 1200px;  
  overflow: hidden;  
  position: relative;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-direction: row;
<<<<<<< HEAD
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 50;
=======
  flex-wrap: nowrap;     
  gap: 30px;
  width: max-content;  
>>>>>>> 5482ca7f71ec93bd2fd801d162cd04fcd2767959
  margin-top: 40px;
  animation: scroll-left 30s linear infinite;
}

.card-container:hover {
  animation-play-state: paused;
}
.card {
  width: 18rem;
<<<<<<< HEAD
=======
  flex-shrink: 0;    
>>>>>>> 5482ca7f71ec93bd2fd801d162cd04fcd2767959
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card .card-body {
  padding: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.card-text {
  font-size: 14px;     
  line-height: 1.4;
  color: #666;
  margin-bottom: 15px;
}

.product-box h2 {
<<<<<<< HEAD
  font-size: 24px;
  color: #888;
=======
  font-size: 40px;    
  color: #333;          
>>>>>>> 5482ca7f71ec93bd2fd801d162cd04fcd2767959
  text-align: center;
}

.product-box p:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
<<<<<<< HEAD

@media (max-width: 576px) {
  .Product-card {
    width: 90% !important;
  }

  .product-box p {
    font-size: 18px;
=======

.btn-primary {
    background: linear-gradient(135deg, #25a9dd 0%, #1e8cb8 100%); /* ไล่เฉดสีฟ้า */
    color: white !important;
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 15px rgba(37, 169, 221, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #1e8cb8 0%, #25a9dd 100%);
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(37, 169, 221, 0.5);
    color: white !important;
}

.btn-primary:active {
    transform: translateY(-1px);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}

@media (max-width: 576px) {
  .product-box {
    width: 95%;
    padding: 40px 0;
  }
  .product-box h2 {
    font-size: 28px;
>>>>>>> 5482ca7f71ec93bd2fd801d162cd04fcd2767959
  }
}