@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
font-family: "Sukhumvit Set";
src: url("/fonts/sukhumvit-set/SukhumvitSet-Regular.ttf") format("truetype");
font-weight: 400;
font-style: normal;
font-display: swap;
} */
@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("/fonts/sukhumvit-set/SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("/fonts/THSarabunNew/THSarabunNew.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("/fonts/THSarabunNew/THSarabunNew Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("/fonts/THSarabunNew/THSarabunNew Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THSarabunNew";
  src: url("/fonts/THSarabunNew/THSarabunNew Bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-heading: "Sukhumvit Set", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-body: "TH Sarabun New", -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-heading);
}

#app {
  flex: 1;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* Main Section */
.main {
  padding: 60px 20px;
  text-align: center;
}

.main>h1 {
  font-size: clamp(22px, 4vw, 32px);
  margin: 0 auto 12px;
  max-width: 720px;
  width: 100%;
  text-align: center;
  padding: 0;
}

.main>h2 {
  font-size: 24px;
  font-weight: normal;
  max-width: 900px;
  margin: 0 auto 40px;
  line-height: 1.6;
}
/* กล่องรวม 4 อัน */
.main-box {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

ul.main-box {
  padding: 0;
}
/* กล่องแต่ละอัน */
.main-item {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
}
/* โลโก้ */
.main-item .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.main-item .logo img {
  width: 64px;
  height: auto;
  color: #00AEEF;
}

.main-item h2 {
  font-size: 24px;
  margin-bottom: 8px;
}
/* หัวข้อในการ์ด */
.main-item h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.6;
}
/* เนื้อหา */
.main-item p {
  font-size: 20px;
  line-height: 1.6;
  color: #555;
}

@media (max-width: 1024px) {
  .main-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .main-box {
    grid-template-columns: 1fr;
  }
}
/* About Section */
.about {
  padding: 60px 20px;
  background: #f5f6fa;
  height: 100%;
}

.about-box {
  max-width: 1500px;
  margin: auto;
  padding:  0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  /* align-items: center; */
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.4s ease;
  cursor: zoom-in;
}
/* HOVERRRRRRRRR */
.about-image img:hover {
  transform: scale(1.03);
}

.about-highlight h3 {
  margin-bottom: 0;
  font-size: 20px;
}

.about-highlight ul {
  margin-top: 0;
  margin-bottom: 0;
}

.about-highlight li {
  line-height: 1.6;
  color: #333;
  font-size: 18px;
}

.about-image li {
  line-height: 1.6;
  color: #333;
  font-size: 16px;
}

.about-content {

  padding: 10px;
  width: auto;
}

.about-content h2,
.about-content h3 {
  margin-top: 0;
}

.about-content h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
  position: relative;
  padding-left: 14px;
}

.about-content h3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 4px;
  height: 60%;
  background: #00AEEF;
  border-radius: 2px;
}

.about-content h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 6px;
  color: #333;
  line-height: 1;
}

.about-content p {
  line-height: 1.2;
  color: #333;
  font-size: 20px;
  margin-top: 0;
}

@media (max-width: 1000px) {
  .about-box {
    grid-template-columns: 1fr;
  }
}
/* Contact Section */
.contact {
  padding: 60px 20px;
  background: #ffffff;
  height: 100%;
}

.contact-box {
  max-width: 2000px;
  gap: 24px;
  margin: auto;
  padding:  0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.contact-image img:hover {
  transform: scale(1.03);
}

.map-wrapper {
  position: relative;
  width: auto;
  padding-bottom: 55%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.map-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.info-item {
  background: #F0F8FF;
  padding: 16px;
  border-radius: 8px;
  width: 80%;
  align-items: center;
}

.info-item h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
  margin-top: 0;
  font-size: 24px;
}

.info-item p {
  margin: 4px 0;
  font-size: 20px;
}

.info-item .icon {
  margin-bottom: 3px;
  width: 24px;
  height: 24px;
}

.phone-link,
.email-link {
  color: #333;
  text-decoration: none;
}

.phone-link:hover,
.email-link:hover {
  color: #00AEEF;
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .contact-box {
    grid-template-columns: 1fr;
  }
}
/* EDIT PRODUCT DESKTOP */
.product {
  background: #eeeded1e;
  padding: 40px clamp(10px, 4vw, 48px);
  display: flex;
  justify-content: center;
}

.very-hero h2 {
  text-align: center;
  color: #333;
  font-size: clamp(14px, 3vw, 30px);
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

body{
 font-family: "Sukhumvit Set","Sukhumvit",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans Thai",sans-serif;}

.hero {
  position: relative;
  width: auto;
  max-width: 2300px;
  padding: 30px 20px 20px;
  border-radius: 28px;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(240, 240, 240, 0.432);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  z-index: 0;
  /* transition:transform .35s cubic-bezier(.4,0,.2,1),box-shadow .35s ease,background .35s ease; */
}

.hero h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
  overflow: hidden;
}

.slider-track {
  position: relative;
  width: 100%;
  height: 500px;
}

.item {
  position: absolute;
  top: 0;
  left: 50%;
  width: 450px;
  height: 500px;
  background-size: cover;
  transform-origin: center center;
  transition: transform .6s cubic-bezier(.4, 0, .2, 1), opacity .6s ease;
  opacity: 0;
  border-radius: 10px;
}

.item.pos-1 {transform:translateX(-50%)translateX(clamp(-470px, -28vw, -180px))scale(clamp(.75, 1, 1));
  opacity: 1;
  z-index: 1;
}

.item.pos-2 {transform:translateX(-50%)scale(clamp(.85, 1, 1));
  opacity: 1;
  z-index: 3;
}

.item.pos-3 {transform:translateX(-50%)translateX(clamp(470px, 28vw, 300px))scale(clamp(.75, 1, 1));
  opacity: 1;
  z-index: 1;
}

.item.off-right {transform: translateX(-50%) translateX(700px) scale(.7);
  opacity: 0;
}

.content {
    position: relative;
    inset: auto;
    width: 100%;
    padding: 0px;
    background: #ffffff;
    box-shadow: none;
    border-radius: 0 0 10px 10px;
  }

.buttonNP {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 100rem;
  z-index: 2;
}

.buttonNP button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background: #fff;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  transition:transform .15s ease,box-shadow .15s ease;
}
/* เมาส์ชี้ */
.buttonNP button:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 26px rgba(0, 0, 0, .25);
}
/* กดปุ่ม → ยุบลง */
.buttonNP button:active {transform: translateY(2px) scale(.95);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
}
/* MOBILE VIEW */
@media (max-width: 768px) {
  .product {overflow-x: hidden;}

  .item {
    position: absolute;
    top: 0;
    left: 50%;
    width: 260px;
    height: auto;
    transform-origin: center;
    border-radius: 16px;
    overflow: visible;
    background-size: cover;
    background-position: top;
    padding-top: 225px;
  }

  .item .content {
    inset: auto;
    margin: 0 0 0;
    background: #ffffff;
    padding: 5px;
    max-height: none;
    width: 250px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  }

  .item .content h3 {
    font-size: 14px;
    margin-bottom: 1px;
    color: #333;
  }

  .item .content p {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 14px;
    color: #333;
  }

  .item.pos-1 {transform: translateX(-50%) translateX(-25%) scale(.85);
    opacity: .4;
  }

  .item.pos-2 {transform: translateX(-50%) scale(1);
    opacity: 1;
    z-index: 3;
  }

  .item.pos-3 {transform: translateX(-50%) translateX(25%) scale(.85);
    opacity: .4;
  }

  .buttonNP {display: none;}
  .hero {
    padding: 30px 200px;
    position: relative;
    padding-bottom: 0;
    bottom: 30px;
  }
  .hero::after {inset: 10px 0 -50px 0; }
  .slider {overflow: visible;}
}
/* DESKTOP VIEW */
@media (min-width: 1024px) {
  .product {display: block;}
  .hero {margin: 0 auto;}
  .item {
    overflow: hidden;           
    display: flex;
    align-items: flex-end;       
  }

  .item .content {
    position: relative;
    inset: auto;
    width: 100%;
    max-height: none;
    padding: 20px;
    background: rgb(255, 255, 255);
  }

  .item .content h3 {font-size: 25px;}
  .item .content p {font-size: 16px;line-height: 1.45;margin-bottom: 12px;}
}

/* spinner */
/* LOADING OVERLAY */
.loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* ซ่อนไว้ก่อน */
.hidden {
  display: none;
}

/* SPINNER */
.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-top: 5px solid #000033;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* SKELETON BASE */

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

.sk-title {
  width: 40%;
  height: 32px;
  margin: 0 auto 32px;
  border-radius: 8px;
  background: linear-gradient(100deg,
      #e0e0e0 30%,
      #f0f0f0 50%,
      #e0e0e0 70%);
  background-size: 200% 100%;
  animation: shimmer 1.3s infinite;
}


.sk-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.sk-card {
  height: 280px;
  border-radius: 16px;
  padding: 16px;
  background: #e0e0e0;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sk-img,
.sk-line {
  border-radius: 8px;
  background: linear-gradient(100deg,
      #e0e0e0 30%,
      #f0f0f0 50%,
      #e0e0e0 70%);
  background-size: 200% 100%;
  animation: shimmer 1.3s infinite;
}

.sk-img {
  height: 140px;
}

.sk-line {
  height: 14px;
}

.sk-line.short {
  width: 60%;
}


@media (max-width: 900px) {
  .sk-title {
    width: 80%;
    height: 24px;
  }

  .sk-grid {
    grid-template-columns: 1fr;
  }

  .sk-card {
    height: 220px;
  }
}

@media (max-width: 992px) {
  .sk-title {
    width: 60%;
  }

  .sk-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

/* overview section */
.overview {
  padding: 40px 20px;
  text-align: center;
  min-height: 15vh;
  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("images/overview_background_01.jpg") center/cover no-repeat;
}

.overview-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.overview-item {
  flex: 1 1 220px;
  max-width: 250px;
  color: #FFFFFF;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.overview-item h2 {
  font-size: 20px;
  margin: 15px 0 10px;
  color: #fff100;
}

.overview-item h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #fff100;
}

.overview-number {
  font-size: clamp(24px, 4vw, 45px);
  font-weight: 900;
  line-height: 1;
  color: #fff100;
  margin: 6px 0;
}


.icon {
  width: 48px;
  height: 48px;
  color: #00AEEF;
}

/* service section  */
.service {
  padding: 40px;
  text-align: center;
  background-color: #f9f9f9;
}

.service h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #333333;
}

.service h2 {
  font-size: 1.2em;
  color: #00AEEF;
  margin-bottom: 0;
  margin-top: 10px;
}

.section-subtitle {
  font-size: 2em;
  color: #666666;
  margin-top: 0;
  margin-bottom: 30px;
}

.service-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  padding: 0;
}

ul.service-box {
  list-style: none;
}


.service-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li.service-item {}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.service-item:hover h2,
.service-item:hover h3,
.service-item:hover p {
  color: #00AEEF;
}

.service-item h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333333;
}

.service-item h3 {
  font-size: 20px;
  color: #666666;
}

.service-item p {
  font-size: 18px;
  color: #555555;
  line-height: 1.4;
}