.site-footer {
  background: #000033;
  padding: 16px;
  text-align: center;
  position: relative;
}

.site-footer p {
  color: #fff;
  margin: 0;
}

.footer-links {
  position: absolute;
  top: 15px;
  right: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  width: 40px;
  height: 40px;
  background: #3b5998;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 24px;
  text-decoration: none;
}


.column {
  float: left;
  width: 33.3333%;
  /* three-column layout */
}

.working-hours-wrapper {
  display : grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
}

.phone-content {
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .working-hours-wrapper {
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: row;
}

  .footer-links {
    position: absolute;
    bottom: 15px;
    right: 15px;
    top: auto;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0;
  }

  .site-footer {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column h2 {
  color: white;
  margin: 0;
}

.column h4 {
  color: white;
  margin-bottom: 3px;
  margin-top: 10px;
}

.phone-link,
.email-link {
  color: #ffffff;
  text-decoration: none;
}

.phone-link:hover,
.email-link:hover {
  color: #00AEEF;
  text-decoration: underline;
}