.site-footer {
  background: #000033;
  padding: 16px;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.site-footer p {
  color: #fff;
  margin: 0;
}

.footer-links {
  position: absolute;
  top: 15px;
  right: 50px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;
}