.site-footer {
  background: #000033;
  padding: 16px;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.site-footer p {
  color: #fff;
  margin: 0;
}

.footer-links {
  position: absolute;
  top: 15px;
  right: 50px;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;
}

.column {
  float: left;
  width: 33.3333%;
  /* three-column layout */
}

/* Responsive: 2 columns on tablets, 1 column on phones */
@media (max-width: 768px) {
  .column {
    width: 50%;
  }

  .footer-links {
    right: 20px;
  }
}

@media (max-width: 480px) {
  .column {
    width: 100%;
    float: none;
  }

  .footer-links {
    position: static;
    margin-bottom: 12px;
  }

  .site-footer {
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column h2 {
  color: white;
}

.column h4 {
  color: white;
  margin-bottom: 3px;
}